@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');
body{background: url('../images/bg.jpg'); background-size: cover; font-family: 'Barlow', sans-serif;}

/* global */
.btn-global{height: 40px; padding:0px 50px; line-height: 40px; text-align: center; color: #fff; font-size: 14px; font-weight: 500;}
.btn-yellow{background-color: #FFDE12;}
.btn-blue{background-color: #2DA9E1;}
.btn-green{background-color: #3DB54A;}
.btn-orange{background-color: #F15822;}
.btn-brown{background-color: #8B5F3D;}

/* Header */
.header{height: 160px; padding: 0 5%; margin-bottom: 30px;}
.header .logo{width: 70px; margin-top:65px}
.header .navbar-nav{width: 100%; margin-top:15px}
.header .navbar-nav .nav-item{padding-left: 30px; padding-right: 30px;}
.header .navbar-nav .nav-link{color:#fff; text-transform: uppercase; font-size: 12px; line-height: 20px; letter-spacing: 0.1em; font-weight: 400; padding:10px 0px; transition: all 0.1s ease-in;}
.header .navbar-nav .nav-item.active .nav-link, .header .navbar-nav .nav-item:hover .nav-link{color: #ED2A32}
.header .navbar-nav .nav-link::after{display:block; content: ''; border-bottom: solid 2px #ED2A32; transform: scaleX(0); transition: transform 250ms ease-in-out; margin-top: 10px;}
.header .navbar-nav .nav-item:hover .nav-link::after{transform: scaleX(1); }
.header .navbar-nav .dropdown .nav-link::after{border: none;}
.header .navbar-nav .dropdown-menu{width: auto; min-width: auto; left:30px; margin-top:-13px; background: #0E0E15;}
.header .navbar-nav .dropdown:hover .dropdown-menu{display: block;}
.header .navbar-nav .dropdown-menu::before{content: ''; width: 100%; height: 2px; top:0px; background: #ED2A32; position: absolute;}
.header .navbar-nav .dropdown-item{color: #fff; font-size: 12px; font-weight: 400; letter-spacing: 0.1em; line-height: 30px; background: transparent; padding:0px 15px}
.header .navbar-nav .dropdown-item:hover{color:#ED2A32}
.header .navbar-nav .navbar-item-toggler img{margin-top:12px; margin-left: 30px;}

/* Loading page */
.wrap-loading{height: 100vh; width: 100%;}
.wrap-loading .body{width: 350px;}
.wrap-loading .loading-percent{font-style: normal; font-weight: 700; font-size: 18px; line-height: 30px; color:#fff; margin: 70px 0px 40px 0px}
.wrap-loading .loading-bar{height: 2px; background: #8A8181; width: 100%;}
.wrap-loading .loading-bar .bar{height: 100%; width: 0%; background: #C4C4C4;}

/* container page */
.container-page{max-width: 1200px; /*height: calc(100vh - 280px);*/ padding:0px;}
.body-page{background: url('../images/body-bg.jpg') center center; height: 100%; background-size: 100%; border-radius: 30px; padding:0px; color:#ffffff}
.body-page .col-chart{background-color: rgba(255,255,255,0.1); padding:30px; border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
.col-chart .heading{height: 70px; border-radius: 6px; padding:10px}
.col-chart .heading.bg-yellow{background-color: #FFDE12;}
.col-chart .heading .animal-age{position: absolute; width: 105px; height: 72px; background: url('../images/bg-animal-age.svg') -4px 0px; top:-5px; left:0 }
.col-chart .heading .animal-age img{margin-left: -10px; margin-top:10px}
.col-chart .heading .title{margin-left: 120px; width: 140px; height: 50px; border-radius: 6px; border:1px solid #1E1E26; color:#1E1E26; line-height: 50px; font-size: 26px; font-weight: 700;}
.col-chart .heading .info p{font-size: 14px; color:#1E1E26; line-height: 20px; margin-bottom:10px; padding-left:10px}

.col-chart .group-btn-fate .btn{width: 80px; height: 30px; border-radius: 2px; margin-right:10px}
.col-chart .group-label-percent .item{width: 80px; height: 21px; border-radius: 2px; background-color: #FFFFFF; border: 1px solid #F4F4F4; opacity: 0.9; box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.25); margin:7px 10px 0px 0px; color: #231F20; font-size: 12px; line-height: 16px; font-weight: 500;}

.body-page .col-info{width: 640px; padding:30px}
.col-info .heading-title{color:#ED2A32; font-size: 36px; line-height: 70px; font-weight: 700;}
.col-info .profile-form .row{margin-bottom: 30px;}
.col-info .profile-form .form-control{background: #1E1E26; border: 1px solid #F4F4F4; box-sizing: border-box; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15); border-radius: 5px; height: 50px; color:#fff; font-size: 12px;}
.col-info .profile-form .form-control::placeholder{color: #A8A8A8;}
.col-info .profile-form .nice-select{width: 100%; line-height: 32px; padding-left: auto;}
.col-info .profile-form .nice-select .option{color: #000;}
.btn-reset{background-color: #fff; color: #CC1111; font-weight: 600; font-size: 15px;}
.btn-accept{background: linear-gradient(89.7deg, #EB1414 1.69%, #CC1111 99.74%), #CC1111; font-size: 15px;}
.col-info .profile-form .btn-accept{margin-left: 40px;}
.col-info .profile-form .note{color: #f4f4f4; font-size: 12px; line-height: 20px; font-style: italic; margin-bottom:10px}

/* footer */
footer{height: 90px; padding:15px 0px}
footer .copyright{font-size: 14px; color:#ffffff; font-weight: 500; line-height: 20px; margin-bottom:10px}
footer .social .icon{margin: 0px 3px}